body{
    font-family: 'Titillium Web', sans-serif !important;
    background-color: #eee;
}


.row {
    width: 100%;
    display: block;
}

.container {
    width: 96%;
    margin: 0 auto;
    position: relative;
    top: 10%;
    display: block;
    height: auto;
    margin-bottom: 20px;
    &:after,
    &:before {
        clear: both;
    }
}

.center-both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// buttons
.btn-ripple {
    position: relative;
    display: block;
    min-width: 88px;
    padding: 12px 20px;
    height: 3em;
    margin: 2em;
    border: none;
    outline: none;
    letter-spacing: 0;
    font-weight: bold;
    background: #dfdfdf;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
    -webkit-user-select: none;
    /* Remove seleção */
    background-color: #fff;
    border-color: #cdcdcd;
    /* Transição de hover */
    @include easing(0.3ms);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    /* Sombra padrão */
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    &:hover,
    {
        background-color: #efefef;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    -webkit-transform: scale(0);
    background-color: rgba(239, 239, 239, .3);
    -ms-transform: scale(0);
    transform: scale(0);
}

.show {
    -webkit-animation: ripple .45s ease-out;
    animation: ripple .45s ease-out;
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }
}

@keyframes ripple {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

// button ripple son
// sticky
.fixedSayi {
    width: 100px;
    position: fixed;
    top: 0;
    display: block;
    background-color: lightskyblue;
    z-index: 999
}

#sticky,
#ens {
    @include easing(75ms);
    height: 70px;
    display: block;
    background-color: skyblue;
    z-index: 9999999;
    border-bottom: 4px solid #ec2142;
}

.sticked {
    position: fixed !important;
    top: 0;
}

//sticky Son
// parallax
#graident {
    height: 4000px;
    width: 100%;
    display: block;
    background: #1e5799;
    background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
    background: -webkit-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
    background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
    header {
        height: 100px;
        width: 100%;
        display: block;
        background-color: #fff;
    }
    .slider {
        width: 100%;
        height: 500px;
        display: block;
        background-color: pink;
    }
    section {
        position: relative;
        width: 100%;
        height: 600px;
        display: block;
        z-index: 55;
    }
}

$renk: purple;
@for $i from 1 through 8 {
    section:nth-child(#{$i}) {
        background-color: lighten($renk, $i*10%)
    }
}


/*
#parallax {
    background-color: transparent !important;
    position: relative;
    z-index: 5;
    overflow: hidden;
    background-color: #fff;
    .paralContainer {
        //    @include easing(2ms);
        position: absolute;
        top: -1;
        left: 0;
        height: 1200px;
        width: 100%;
        display: block;
        background-image: url('http://entertainment.inquirer.net/files/2016/03/MOCHA-GIRLS.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: center top;
        z-index: 1;
    }
}
*/

#parallax {
    width: 100%;
    height: 400px;
    .paralContainer {
        @include easing(10ms);
        position: absolute;
        top: -1;
        left: 0;
        height: 600px;
        width: 100%;
        display: block;
    }
}