@media (min-width:1024px)
{
    .container{
        width: 75% !important;
    }
    #mNav{
        width: 80% !important;
        left: 10%;
    }
    #mFooter{
        width: 80% !important;
        margin: 0 auto;
    }
}



@media (min-width: 620px) {
    .haber{
        width: 45% !important;
        float: left !important;
        margin-left: 3% !important;
    }
    .doviz{
        width: 40% !important;
        float: left !important;
        li{
            &:nth-child(1)
            {
                margin-right: 3% !important;
            }
        }
    }
    #widgets{
        width: 60% !important;
        float: left !important;
        margin-top: 0 !important;
        height: 65px !important;
    }
}
@media(max-width:620px){
.SearchForm{
        left:16px !important;
        input{
            font-size: 30px !important;
        }
    }
    .icon-close{
        left: 245px !important;
    }
    #navSlideWrapper{
        width:220px !important;
    }
    #navLogo{
        left: 27% !important;
    }
    .SearchForm{
        width: 226px !important;
    }
}
