@media (min-width: 620px) {
    .container {
        background-color: lightblue !important;
    }
    nav {
   //     background-color: yellow !important;
    }
}
@media(max-width:320px){
.SearchForm{
        left:16px !important;
        input{
            font-size: 30px !important;
        }
    }
    .icon-close{
        left: 245px !important;
    }
    #navSlideWrapper{
        width:220px !important;
    }
}
