@mixin oneColorOpacity($color, $opacity) {
    background-color: rgba($color, $color, $color, $opacity);
}

// easing ($deger) mixini yaz
// arrow mixini yaz arrow(direction)
@mixin clearFix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin grid($col, $mgn) {
    float: left;
    margin-left: $mgn;
    margin-bottom: $mgn;
    width: ((100% - (($col - 1) * $mgn)) / $col); // 100% den column sayısı - 1 yap marginle çarp column sayısına böl.
    &:first-child {
        margin-left: 0; //&:nth-child(#{$col}n)   değişkeni kullanmak
    }
}

@mixin easing($time) {
    -webkit-transition: all $time cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all $time cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all $time cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all $time cubic-bezier(0.420, 0.000, 0.580, 1.000);
    /* ease-in-out */
}