#mNav {
    width: 100%;
    display: block;
    height: 50px;
    background-color: $primary-color;
    overflow: hidden;
}
#mFooter{
    width: 100%;
    display: block;
    height: 150px;
    background-color:$primary-text-color;
    overflow: hidden;
}
 .control{
         width: 64px;
         height: 64px;
         position: absolute;
         top: 3px;
         right: 0;
         cursor: pointer;

          .fa,
          .icon-close {
             transition: 0.2s ease-in-out;
           }

           &:hover .SearchButton {
          box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);

         }

    }  
    .SearchButton {
        width: 40px;
        height: 40px;

        border-radius: 100%;
        box-sizing: border-box;
        padding: 20px;
        background: #ec2142;
        outline: 0;

        transform-origin: 50%;

        box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
        transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  
    }    
    .fa{
        position: absolute;
        top: 14px;
        left: 14px;
        color:white;
        font-size: 28px;
    } 
    
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    &.searchMode{
        overflow: hidden;
  
        .SearchForm,
        .icon-close {
          opacity: 1;
          transform: none;
          pointer-events: all;
        }

        .control{
          .fa {
            opacity: 0;
          }
          .SearchButton {
            transform: scale(80);
          }
        }

    }
}   
.icon-close {
      position: fixed;
      top: 30px;
      right: 30px;
      color: #FFF;
      font-size: 80px;

      opacity: 0;
      transform: translate( 10px, 0) rotate(90deg);
      transition: all 0.3s ease-in-out;
    }
    .SearchForm{
        $placeholder-color: #EEE;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50px;
        margin-top: -40px;
  
        pointer-events: none;
        opacity: 0;
        transform: translate( 40px, 0);
        transition: all 0.3s ease-in-out;

            input {
            color: #fff;
            font-size: 54px;
            border: 0;
            background: transparent;
            -webkit-appearance: none;
            box-sizing: border-box;
            outline: 0;
            font-weight: 200;
    
    
            }
  
        ::-webkit-input-placeholder { 
          color: $placeholder-color;
        }
        :-moz-placeholder { 
           color: $placeholder-color;
           opacity:  1;
        }
        ::-moz-placeholder { 
           color: $placeholder-color;
           opacity:  1;
        }
        :-ms-input-placeholder {
           color: $placeholder-color;
        }
    }