#mNav {
    width: 100%;
    display: block;
    height: 50px;
    background-color: $primary-color;
    overflow: hidden;
}
#mFooter{
    width: 100%;
    display: block;
    height: 150px;
    background-color:$primary-text-color;
    overflow: hidden;
}