#mNav {
    width: 100%;
    display: block;
    height: 50px;
    position: fixed;
    z-index: 9999;
    background-color: $primary-color;
    #navLogo{
            position: absolute;
            z-index: 9;
            left: 40%;
            width: 140px;
            top: 15%;
            img{
                width: 100%;
            }
    }
    #collapseItem {
            width: 60px;
            display: block;
            float: left;
            position: absolute;
            top: 10px;
            span {
                width: 50%;
                height: 4px;
                display: block;
                margin: 0 auto 8px auto;
                background-color: white;
            }
    }
    .navOverlay {
    position: fixed;
    visibility: hidden;
    z-index: 99999;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
        #navSlideWrapper {
            @include easing(500ms);
            position: absolute;
            height: 100%;
            width: 280px;
            background-color: #efefef;
            left: -280px - 20px;
            top: 0px;
            display: block;
            z-index: 99;
            box-shadow: -2px 0 10px rgba(0, 0, 0, .4);
            ul{
                text-align: center;
                font-size: 30px;
                li{
                    padding: 5px;
                    border-bottom: 1px solid #b9b9b9;
                    color: #555555;
                    &:active{
                        background: #ec2142;
                        a{
                            color:white;
                        }
                    }
                    a{
                        color: #555555;
                    }
                    .kategoriler,.politikalar{
                        
                            margin-left: 21%;
                            width: 81%;
                            display: none;
                            color: #b9b9b9;
                            padding-top: 5%;
                            list-style: initial;
                        li{
                            font-size: 16px;
                            text-align: left;
                            border-top: 1px solid #b9b9b9;
                            border-bottom: none !important;
                        }
                    }
                }
            }
        }
        .navSlideWrapperTransform {
            transform: translateX(280px);
            //margin-right: $navSlideWidth ;
        }
    }
    .navOverlayProp {
         visibility: visible;
    }
     .control{
         width: 64px;
         height: 64px;
         position: absolute;
         top: 3px;
         right: 0;
         cursor: pointer;

          .fa,
          .icon-close {
             transition: 0.2s ease-in-out;
           }

           &:hover .SearchButton {
          box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);

         }

    }  
    .SearchButton {
        width: 40px;
        height: 40px;

        border-radius: 100%;
        box-sizing: border-box;
        padding: 20px;
        background: #ec2142;
        position: absolute;
        z-index: 99;
        outline: 0;

        transform-origin: 50%;

        box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
        transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  
    }    
    .fa{
        position: absolute;
        top: 14px;
        left: 14px;
        color:white;
    } 
    
}


#mFooter{
    position: relative;
    top:15%;
    width: 100%;
    display: block;
    height: auto;
    background-color:$primary-text-color;
    overflow: hidden;
    .footerAlan{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        .yasaluyari{
            font-size: 12px;
            color: rgb(136, 136,136);
            padding:10px 0px; 
        }
        .created{
            a{
                color: rgb(136, 136,136);
                font-size: 12px;
            }
        }
    }
}

    
body{
    width: 100vw;
    height: 100vh;
    &.searchMode{
        overflow: hidden;
  
        .SearchForm,
        .icon-close {
          opacity: 1;
          transform: none;
          pointer-events: all;
          position: absolute;
          z-index: 9999;
        }

        .control{
          .fa {
            opacity: 0;
          }
          .SearchButton {
           transform: scale(0);
          }
        }

    }
}   
.icon-close {
  position: fixed;
  top: 30px;
  right: 30px;
  color: #FFF;
  font-size: 80px;
  opacity: 0;
  transform: translate( 10px, 0) rotate(90deg);
  transition: all 0.3s ease-in-out;
}
.SearchForm{
    $placeholder-color: #EEE;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -40px;

    pointer-events: none;
    opacity: 0;
    transform: translate( 40px, 0);
    transition: all 0.3s ease-in-out;
        input {
        color: #fff;
        font-size: 54px;
        border: 0;
        background: transparent;
        -webkit-appearance: none;
        box-sizing: border-box;
        outline: 0;
        width: inherit;
        font-weight: 200;


        }

    ::-webkit-input-placeholder { 
      color: $placeholder-color;
    }
    :-moz-placeholder { 
       color: $placeholder-color;
       opacity:  1;
    }
    ::-moz-placeholder { 
       color: $placeholder-color;
       opacity:  1;
    }
    :-ms-input-placeholder {
       color: $placeholder-color;
    }
}
