$primary-color-dark: #D32F2F;
$primary-color: #F44336;
$primary-color-light: #FFCDD2;
$primary-color-text: #FFFFFF;
$accent-color: #536DFE;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
a {
    text-decoration: none;
    color: $primary-text-color;
}