.container{
    .kategoriUst{
        padding-top: 25px;
        padding-bottom: 15px;
        .yazarlar{
                border-bottom: 10px solid #d45800;
                a{
                    color:#d45800;
                    position: absolute;
                    background: #eee;
                    font-size: 25px;
                    padding: 5px;
                    margin-top: -13px;
                    margin-left: 20px;
                }
        }
    }
    .yazilar{
        width: 100%;
        margin-top: 20px;
        background-color: transparent;
        .yaziAlani{
            width: 93%;
            padding: 10px;
            background-color: #fff;
            margin-bottom: 5% !important;
            margin: 0 auto;
            img{
                float: left;
                width: 35%;
                border-radius: 50%
            }
            
            .yazarAd{
                float: left;
                margin-top: 6%;
                margin-left: 5%;
                width: 51%;
                font-size: 24px;
                padding: 5px;
                border-bottom: 1px solid black;
                span{
                    margin-left: 6%;
                    text-align: center;
                    }
            }
                
            
            h1{
                font-size: 29px;
                margin-top: 34%;
            }
            .yazaryazi{
                font-size: 29px;
                margin: 0;
            }
            .spot{
                margin-top: 6%;
                margin-bottom: 6%;
                font-weight: bold;
                line-height: 20px;
            }
            .icerik{
                margin-bottom: 5%;
                line-height: 20px;
            }
            .koseyazar{
                color: #d45800;
            }
            .yaziTarih{
                float: right;
            }
        }
    }
    .yazardiv{
        background-color: white;
        width: 97%;
        padding: 5px;
        margin-top: 5%;
        a{
            img{
                display: block;
                width: 25%;
                float: left;
                border-radius: 50%;
            }
        }
        .yazarAd{
            width: 50%;
            float: left;
            font-size: 24px;
            padding-bottom: 2%;
            margin-left: 10%;
            border-bottom: 1px solid black;
            margin-top: 5%;
            span{
                margin-left: 6%;
            }
        }
    }
    .yazilari{
        position: relative;
        border-bottom: 1px solid #d45800;
        margin-top: 10%;
        span{
            background-color: #eee;
            position: absolute;
            padding-bottom: -24px;
            top: -12px;
            left: 15px;
            letter-spacing: 5px;
            padding: 5px;
            color: #d45800;
        }
    }
}