@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 0.16667; }

h2 {
  font-size: 0.33333; }

h3 {
  font-size: 0.5; }

h4 {
  font-size: 0.66667; }

h5 {
  font-size: 0.83333; }

h6 {
  font-size: 1; }

a {
  text-decoration: none;
  color: #212121; }

@media (min-width: 620px) {
  .container {
    background-color: lightblue !important; } }
@media (max-width: 320px) {
  .SearchForm {
    left: 16px !important; }
    .SearchForm input {
      font-size: 30px !important; }

  .icon-close {
    left: 245px !important; }

  #navSlideWrapper {
    width: 220px !important; }

  #navLogo {
    left: 27% !important; } }
.gray {
  background-color: #efefef;
  height: 500px; }

.grid {
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
  width: 18.4%;
  background-color: pink;
  color: #fff; }
  .grid:first-child {
    margin-left: 0; }

@media (max-width: 600px) {
  .grid {
    float: left;
    margin-left: 15%;
    margin-bottom: 15%;
    width: 23.33333%;
    -webkit-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
    /* ease-in-out */
    background-color: skyblue;
    height: 300px;
    color: #fff; }
    .grid:first-child {
      margin-left: 0; }
    .grid:nth-child(5), .grid:nth-child(3) {
      display: none; } }
.row {
  width: 100%;
  display: block; }

.container {
  width: 96%;
  margin: 0 auto;
  position: relative; }
  .container:after, .container:before {
    clear: both; }

.center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.btn-ripple {
  position: relative;
  display: block;
  min-width: 88px;
  padding: 12px 20px;
  height: 3em;
  margin: 2em;
  border: none;
  outline: none;
  letter-spacing: 0;
  font-weight: bold;
  background: #dfdfdf;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  -webkit-user-select: none;
  /* Remove sele├ğ├úo */
  background-color: #fff;
  border-color: #cdcdcd;
  /* Transi├ğ├úo de hover */
  -webkit-transition: all 0.3ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.3ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.3ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.3ms cubic-bezier(0.42, 0, 0.58, 1);
  /* ease-in-out */
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  /* Sombra padr├úo */
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24); }
  .btn-ripple:hover {
    background-color: #efefef;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.ripple {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transform: scale(0);
  background-color: rgba(239, 239, 239, 0.3);
  -ms-transform: scale(0);
  transform: scale(0); }

.show {
  -webkit-animation: ripple .45s ease-out;
  animation: ripple .45s ease-out; }

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1; } }
@keyframes ripple {
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; } }
.fixedSayi {
  width: 100px;
  position: fixed;
  top: 0;
  display: block;
  background-color: lightskyblue;
  z-index: 999; }

#sticky,
#ens {
  -webkit-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 75ms cubic-bezier(0.42, 0, 0.58, 1);
  /* ease-in-out */
  height: 70px;
  display: block;
  background-color: skyblue;
  z-index: 9999999;
  border-bottom: 4px solid #ec2142; }

.sticked {
  position: fixed !important;
  top: 0; }

#graident {
  height: 4000px;
  width: 100%;
  display: block;
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
  background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%); }
  #graident header {
    height: 100px;
    width: 100%;
    display: block;
    background-color: #fff; }
  #graident .slider {
    width: 100%;
    height: 500px;
    display: block;
    background-color: pink; }
  #graident section {
    position: relative;
    width: 100%;
    height: 600px;
    display: block;
    z-index: 55; }

section:nth-child(1) {
  background-color: #b300b3; }

section:nth-child(2) {
  background-color: #e600e6; }

section:nth-child(3) {
  background-color: #ff1aff; }

section:nth-child(4) {
  background-color: #ff4dff; }

section:nth-child(5) {
  background-color: #ff80ff; }

section:nth-child(6) {
  background-color: #ffb3ff; }

section:nth-child(7) {
  background-color: #ffe6ff; }

section:nth-child(8) {
  background-color: white; }

/*
#parallax {
    background-color: transparent !important;
    position: relative;
    z-index: 5;
    overflow: hidden;
    background-color: #fff;
    .paralContainer {
        //    @include easing(2ms);
        position: absolute;
        top: -1;
        left: 0;
        height: 1200px;
        width: 100%;
        display: block;
        background-image: url('http://entertainment.inquirer.net/files/2016/03/MOCHA-GIRLS.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: center top;
        z-index: 1;
    }
}
*/
#parallax {
  width: 100%;
  height: 400px; }
  #parallax .paralContainer {
    -webkit-transition: all 10ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 10ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 10ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 10ms cubic-bezier(0.42, 0, 0.58, 1);
    /* ease-in-out */
    position: absolute;
    top: -1;
    left: 0;
    height: 600px;
    width: 100%;
    display: block; }

.container {
  background-color: pink;
  display: block;
  height: 500px; }

#mNav {
  width: 100%;
  display: block;
  height: 50px;
  background-color: #ec2142;
  overflow: hidden; }
  #mNav #navLogo {
    position: absolute;
    z-index: 9;
    left: 40%;
    top: 2%; }
    #mNav #navLogo img {
      width: 60%; }
  #mNav #collapseItem {
    width: 60px;
    display: block;
    float: left;
    position: absolute;
    top: 10px; }
    #mNav #collapseItem span {
      width: 50%;
      height: 4px;
      display: block;
      margin: 0 auto 8px auto;
      background-color: white; }
  #mNav .navOverlay {
    position: fixed;
    visibility: hidden;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); }
    #mNav .navOverlay #navSlideWrapper {
      -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
      -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
      /* ease-in-out */
      position: absolute;
      height: 100vh;
      width: 280px;
      background-color: #efefef;
      left: -300px;
      top: 0px;
      display: block;
      z-index: 99;
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4); }
      #mNav .navOverlay #navSlideWrapper ul {
        text-align: center;
        font-size: 30px; }
        #mNav .navOverlay #navSlideWrapper ul li {
          padding: 20px; }
    #mNav .navOverlay .navSlideWrapperTransform {
      transform: translateX(280px); }
  #mNav .navOverlayProp {
    visibility: visible; }
  #mNav .control {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer; }
    #mNav .control .fa,
    #mNav .control .icon-close {
      transition: 0.2s ease-in-out; }
    #mNav .control:hover .SearchButton {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  #mNav .SearchButton {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #ec2142;
    outline: 0;
    transform-origin: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1); }
  #mNav .fa {
    position: absolute;
    top: 14px;
    left: 14px;
    color: white; }

#mFooter {
  width: 100%;
  display: block;
  height: 150px;
  background-color: #212121;
  overflow: hidden; }

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  body.searchMode {
    overflow: hidden; }
    body.searchMode .SearchForm,
    body.searchMode .icon-close {
      opacity: 1;
      transform: none;
      pointer-events: all; }
    body.searchMode .control .fa {
      opacity: 0; }
    body.searchMode .control .SearchButton {
      transform: scale(80); }

.icon-close {
  position: fixed;
  top: 30px;
  right: 30px;
  color: #FFF;
  font-size: 80px;
  opacity: 0;
  transform: translate(10px, 0) rotate(90deg);
  transition: all 0.3s ease-in-out; }

.SearchForm {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -40px;
  pointer-events: none;
  opacity: 0;
  transform: translate(40px, 0);
  transition: all 0.3s ease-in-out; }
  .SearchForm input {
    color: #fff;
    font-size: 54px;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200; }
  .SearchForm ::-webkit-input-placeholder {
    color: #EEE; }
  .SearchForm :-moz-placeholder {
    color: #EEE;
    opacity: 1; }
  .SearchForm ::-moz-placeholder {
    color: #EEE;
    opacity: 1; }
  .SearchForm :-ms-input-placeholder {
    color: #EEE; }

/*# sourceMappingURL=style.css.map */
